.tablestyle2{
    border-collapse: collapse;
    width: 100%
}

.tablestyle2 th, td {
    border: 1px solid gray;
    padding: 8px;
}

.tablestyle2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-alogn: left;
    background-color: #4CAF50
    color: white;
}

.tablestyle2 tr:nth-child(even) {
    background-color: #dddddd;
}
